@model IHCATCadClientes.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente @Html.DisplayFor(model => model.Nome)</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeMae)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePai)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Editar</a> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
    <p></p>
</div>
<!-- Seção para Validação do CPF e RG! -->
@section Scripts {
    <script src="~/js/cep-script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#CEP').mask('00000-000');

            $('#CPF').mask('000.000.000-00', {reverse: true});

            $('#RG').mask('00.000.000-0', {reverse: true});

            $('form').submit(function() {
                var rg = $('#RG').val();
                var cpf = $('#CPF').val();

                $('#RG').val(rg.replace(/\D/g, ''));
                $('#CPF').val(cpf.replace(/\D/g, ''));
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
